{% macro renderPager(pager, max) %}
    {{
        pagerfanta(
            pager,
            'twitter_bootstrap_translated',
            {
                'proximity' : 1,
                'routeName': 'formalibre_bulletin_matieres_options_management',
                'routeParams': {'max': max}
            }
        )
    }}
{% endmacro %}

{% from _self import renderPager %}

{% extends "ClarolineCoreBundle:Administration:layout.html.twig" %}

{% block section_content %}
    <div class="panel-heading">
        <h1>Configuration des matières</h1>
    </div>
    <div class="panel-body">
        <coursemanager>
        </coursemanager>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src={{ asset('bundles/clarolinecore/js/angular/search/generic/search.app.js') }}></script>
    <script type="text/javascript" src={{ asset('bundles/formalibrebulletin/js/courseManager/courses.app.js') }}></script>
{% endblock %}
    