/*@media print and (width: 42cm) and (height: 29.7cm) {*/
@media print {

    @page {
    size: A3 landscape;
    margin : 1cm;
    }

    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }

    #content{
        margin:0px;
    }

   .table

}

.firstcolumn{
    width: 40%;
}
.page-break-element {
    page-break-before: always;
}

#title-box{
    text-align:center
}

#title-box h1{
    font-size: 40px;
    margin:0px;
}

#NomEleve{
    text-align: right;
    font-size: 20px;
}

.center{
    text-align: center;
}

#remarque{
    padding-left:0px;
}

.exam{
    padding-right: 0px;

}

#pointDivers{
    padding-left: 0px;
}

#remarque{
    height: 185px;
}

#remarque .panel{
    height: 100%;
}

#pointDivers{
    padding-right: 0px;
}

#reunion{
    margin-top:10px;
    padding:10px;
}

.signature{
    height: 100px;
    font-size:8px;
    text-align: center;
}

.signature .panel{
    height: 100%;
}

#signature-directeur {
    height: 50px;
}

.echec{
    background-color: rgb(213, 213, 213);
}
