<h3>{{ pc.user.firstName }} {{ pc.user.lastName }}</h3>
<hr>
<div class="table-responsive">
    <table class="table table-bordered table-condensed">
        <tr>
            <td></td>
            <th ng-repeat="periode in pc.periodes">
                {{ periode['name'] }}
            </th>
            <th>
                {{ 'total'|trans:{}:'platform' }}
            </th>
        </tr>
        <tr ng-repeat="datas in pc.pointsDatas">
            <th>
                {{ datas['matiereName'] }}
            </th>
            <td ng-repeat="periode in pc.periodes">
                <div class="input-group" ng-if="datas['periodes'][periode['id']]['pempId']">
                    <input type="text" class="form-control" ng-model="pc.pemps[datas['periodes'][periode['id']]['pempId']]">
                    <span class="input-group-addon">
                        / {{ datas['total'] * periode['coefficient'] }}
                        <!--[{{ datas['periodes'][periode['id']]['pempId'] }}]-->
                    </span>
                </div>
                <div class="text-center" ng-if="!datas['periodes'][periode['id']]['pempId']">
                    -
                </div>
            </td>
            <td ng-bind="pc.computeMatiereTotal(datas['matiereId'])">
            </td>
        </tr>
        <tr>
            <th>{{ 'various_points'|trans:{}:'bulletin' }}</th>
            <td ng-repeat="periode in pc.periodes">
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tr ng-repeat="pointDivers in periode['pointsDivers']">
                            <th>
                                {{ pointDivers['name'] }}
                                <span ng-if="pointDivers['withTotal']">
                                    ({{ pointDivers['total'] }})
                                </span>
                                <!--[{{ pointDivers['pepdpId'] }}]-->
                            </th>
                            <td>
                                <input type="text" class="form-control" ng-model="pc.pepdps[pointDivers['pepdpId']]">
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<hr>
<button class="btn btn-primary" ng-click="pc.validate()">
    {{ 'ok'|trans:{}:'platform' }}
</button>
<button class="btn btn-default" ui-sref="users">
    {{ 'cancel'|trans:{}:'platform' }}
</button>