<h3>{{ pc.user.firstName }} {{ pc.user.lastName }}</h3>
<hr>
<div class="table-responsive">
    <table class="table table-bordered table-condensed">
        <tr>
            <td></td>
            <th ng-repeat="periode in pc.periodes">
                {{ periode['name'] }}
            </th>
            <th></th>
            <th>
                {{ 'total'|trans:{}:'platform' }}
            </th>
            <th></th>
        </tr>
        <tr ng-repeat="datas in pc.pointsDatas" ng-attr-style="{{ pc.getMatiereStyle(datas['matiereId']) }}">
            <th>
                {{ datas['matiereName'] }}
            </th>
            <td ng-repeat="periode in pc.periodes">
                <div class="input-group" ng-if="datas['periodes'][periode['id']]['pempId']">
                    <input type="text" class="form-control" ng-model="pc.pemps[datas['periodes'][periode['id']]['pempId']]">
                    <span class="input-group-addon">
                        / {{ datas['total'] * periode['coefficient'] }}
                        <!--[{{ datas['periodes'][periode['id']]['pempId'] }}]-->
                    </span>
                </div>
                <div class="text-center" ng-if="!datas['periodes'][periode['id']]['pempId']">
                    -
                </div>
            </td>
            <td class="text-center" nowrap="nowrap" ng-bind="pc.computeMatiereTotal(datas['matiereId'], false)">
            </td>
            <td class="text-center" nowrap="nowrap"">
                <span  ng-bind="pc.computeMatiereTotal(datas['matiereId'])"></span>
                %
            </td>
            <td class="text-center">
                <input type="checkbox" ng-model="pc.eleveMatiereOptions[datas['matiereId']]['deliberated']">
            </td>
        </tr>
        <tr>
            <th></th>
            <td ng-repeat="periode in pc.periodes">
                <span class="pull-right" ng-bind="pc.computePeriodeTotal(periode['id'], false)">
                </span>
            </td>
            <th ng-bind="pc.computeFinalTotal(false)" nowrap="nowrap">
            </th>
            <td></td>
        </tr>
        <tr>
            <th>{{ 'total'|trans:{}:'platform' }}</th>
            <td ng-repeat="periode in pc.periodes">
                <span class="pull-right">
                    <span ng-bind="pc.computePeriodeTotal(periode['id'])"></span>
                    %
                </span>
            </td>
            <td></td>
            <th class="text-center" nowrap="nowrap" ng-attr-style="{{ pc.getFinalTotalStyle() }}">
                <span ng-bind="pc.computeFinalTotal()"></span>
                %
            </th>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <th class="text-center" colspan="{{ pc.computeTabNbCol() }}">{{ 'various_points'|trans:{}:'bulletin' }}</th>
        </tr>
        <tr ng-repeat="pointDivers in pc.pointsDiversDatas" ng-attr-style="{{ pc.getPointDiversStyle(pointDivers['id']) }}">
            <th>
                {{ pointDivers['name'] }}
            </th>
            <td class="text-center" ng-repeat="periode in pc.periodes">
                <div ng-class="pointDivers['withTotal'] ? 'input-group' : ''" ng-if="pc.hasPointDivers(periode['id'], pointDivers['id'])">
                    <input type="text" class="form-control" ng-model="pc.pepdps[pc.getPepdpId(periode['id'], pointDivers['id'])]">
                    <span class="input-group-addon" ng-if="pointDivers['withTotal']">
                        {{ pointDivers['total'] }}
                    </span>
                </div>
                <span ng-if="!pc.hasPointDivers(periode['id'], pointDivers['id'])">
                    -
                </span>
            </td>
            <td class="text-center" colspan="2">
                <span ng-bind="pc.computePointsDiversTotal(pointDivers['id'], pointDivers['withTotal'])"></span>
                <span ng-if="pointDivers['withTotal']">%</span>
            </td>
        </tr>
    </table>
</div>
<hr>
<button class="btn btn-primary" ng-click="pc.validate()">
    {{ 'ok'|trans:{}:'platform' }}
</button>
<button class="btn btn-default" ui-sref="users">
    {{ 'cancel'|trans:{}:'platform' }}
</button>